body {
  margin: 0;
  font-family: 'Roboto', "Courier New", monospace;
  background-color: gainsboro;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: dimgray;
}
header{
  background-color: dimgray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.linkAccount{
padding: 0px 50px 0px 0px;
}